.display-schedule-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display-time-tracking-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display-title {
    background-color: #131337;
    width: 500px;
    height: 100px;
    text-align: center;
    align-content: center;
    border-radius: .5rem;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 0 .5rem 1rem 3px rgb(0, 0, 0);
}

.display-content-shedule {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    background-color: #131337;
    min-height: 200px;
    width: 1000px;
    margin-top: 3rem;
    box-shadow: 0 1rem 1.5rem 5px rgb(0, 0, 0);
}

.display-time-tracking {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    background-color: #131337;
    min-height: 200px;
    width: 500px;
    margin-top: 3rem;
    box-shadow: 0 1rem 1.5rem 5px rgb(0, 0, 0);
}

.display-empty {
    font-size: 24px;
}

.display-schedule-table-container {
    padding: 2rem 1.5rem;
    height: fit-content;
}

.display-schedule-table td, .display-schedule-table-container th {
    text-align: center;
    font-size: 16px;
    margin-left: .5rem;
    /* padding: 0rem .5rem; */
    width: fit-content;
}

.display-schedule-table > * {
}

.display-totals-table th, .display-totals-table td {
    text-align: center;
    font-size: 19px;
    padding-left: 2rem;
}

@media (min-width: 1600px)
        and (max-width: 2199px) {
        .display-content-shedule {
            width: 1200px;
        }
        .display-schedule-table td, .display-schedule-table-container h3 {
            text-align: center;
            font-size: 15px;
        }
    }

@media (min-width: 2200px) {
        .display-content-shedule {
            width: 1775px;
        }
    }
