.sidebar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-title {
    background-color: #131337;
    width: 300px;
    height: 100px;
    text-align: center;
    align-content: center;
    border-radius: .5rem;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 0 .5rem 1rem 3px rgb(0, 0, 0);
}

.sidebar-content {
    background-color: #131337;
    width: 400px;
    height: 520px;
    border-radius: .5rem;
    margin-top: 3rem;
    box-shadow: 0 1rem 1.5rem 5px rgb(0, 0, 0);
}

.scheduler-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    gap: 1rem;
    padding: 2rem;
}

.scheduler-form input, .scheduler-form select {
    margin-left: 1rem;
    height: 1.5rem;
    width: 175px;
    padding-left: .3rem;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 2px 2px 4px 1px rgb(0, 0, 0);
}

.scheduler-form label {
    display: flex;
    align-items: center;
}

.scheduler-form button {
    margin-top: 1rem;
    font-size: 25px;
    background-color: #0c0c29;;
    border-color: rgb(174, 172, 172);
    border-radius: .5rem;
    border-width: 1px;
    cursor: pointer;
}

.scheduler-form button:hover {
    background-color: #2e2e7b;
}

.warning-message {
  margin-top: 1rem;
  color: #ec7087;
  font-weight: bold;
}

.display-content-toggle-container {
    display: flex;
    justify-content: right;
    gap: 1rem;
    padding: 1rem;
}

.display-conent-toggle-title {
    font-size: 18px;
}
